In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Read in tsv file, must use sep='\t'
data_file = Path("../../title.basics.tsv")
df = pd.read_csv(data_file, sep='\t')
df.head()

/var/folders/gf/hc_hshm92zgfnkr16xjn90700000gn/T/ipykernel_49287/1534499445.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_file, sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
df.count()

tconst            11228162
titleType         11228162
primaryTitle      11228143
originalTitle     11228143
isAdult           11228162
startYear         11228162
endYear           11228162
runtimeMinutes    11228162
genres            11227530
dtype: int64

In [4]:
# Drop na rows
df = df.dropna(how='any')
df.count()

tconst            11227511
titleType         11227511
primaryTitle      11227511
originalTitle     11227511
isAdult           11227511
startYear         11227511
endYear           11227511
runtimeMinutes    11227511
genres            11227511
dtype: int64

In [5]:
# Lots of '\\N' values in column
# drop '\\N'
df = df.loc[(df["startYear"] != '\\N'), :]
df.count()

tconst            9810921
titleType         9810921
primaryTitle      9810921
originalTitle     9810921
isAdult           9810921
startYear         9810921
endYear           9810921
runtimeMinutes    9810921
genres            9810921
dtype: int64

In [6]:
# Convert column from string to integer
df['startYear'] = df['startYear'].astype(int)

In [7]:
# Filter movies with years from 2010-2019
years_df = df.loc[(df["startYear"] >= 2010) & (df["startYear"] <= 2019), :]
years_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11632,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,\N,\N,"Action,Crime"
49484,tt0050396,short,Final Curtain,Final Curtain,0,2012,\N,22,"Horror,Short"
59192,tt0060361,short,EMS nr 1,EMS nr 1,0,2016,\N,14,Short
63738,tt0065047,short,The Sun's Gonna Shine,The Sun's Gonna Shine,0,2014,\N,10,"Documentary,Music,Short"
66398,tt0067758,movie,"Simón, contamos contigo","Simón, contamos contigo",0,2015,\N,81,"Comedy,Drama"

In [8]:
years_df.count()

tconst            3792225
titleType         3792225
primaryTitle      3792225
originalTitle     3792225
isAdult           3792225
startYear         3792225
endYear           3792225
runtimeMinutes    3792225
genres            3792225
dtype: int64

In [9]:
# Filter movies by runtime

In [10]:
# drop '\\N'
years_df = years_df.loc[(years_df["runtimeMinutes"] != '\\N'), :]
years_df.count()

tconst            1256271
titleType         1256271
primaryTitle      1256271
originalTitle     1256271
isAdult           1256271
startYear         1256271
endYear           1256271
runtimeMinutes    1256271
genres            1256271
dtype: int64

In [11]:
# Convert to int
years_df['runtimeMinutes'] = years_df['runtimeMinutes'].astype(int)

In [12]:
# Filter rows for runtime of 60min - 240min
# Can narrow down or widen
# Gets rid of short films
years_runtime_df = years_df.loc[(years_df["runtimeMinutes"] >= 60) & (years_df["runtimeMinutes"] <= 240), :]
years_runtime_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
66398,tt0067758,movie,"Simón, contamos contigo","Simón, contamos contigo",0,2015,\N,81,"Comedy,Drama"
67657,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama
98023,tt0100275,movie,The Wandering Soap Opera,La Telenovela Errante,0,2017,\N,80,"Comedy,Drama,Fantasy"
105661,tt0108116,movie,Shepherd on the Rock,Shepherd on the Rock,0,2014,\N,90,Drama
108890,tt0111414,movie,A Thin Life,A Thin Life,0,2018,\N,75,Comedy

In [13]:
years_runtime_df.count()

tconst            255816
titleType         255816
primaryTitle      255816
originalTitle     255816
isAdult           255816
startYear         255816
endYear           255816
runtimeMinutes    255816
genres            255816
dtype: int64

In [14]:
# Title Type Column

In [15]:
# Lots of non-movie titles
years_runtime_df['titleType'].value_counts()

titleType
movie           115433
tvEpisode        84010
video            31278
tvMovie          11632
tvSeries          7237
tvSpecial         4350
tvMiniSeries      1787
videoGame           55
short               33
tvShort              1
Name: count, dtype: int64

In [16]:
# Filters only by movie
years_runtime_type_df = years_runtime_df.loc[(years_runtime_df["titleType"] == 'movie'), :]
years_runtime_type_df.count()

tconst            115433
titleType         115433
primaryTitle      115433
originalTitle     115433
isAdult           115433
startYear         115433
endYear           115433
runtimeMinutes    115433
genres            115433
dtype: int64

In [17]:
years_runtime_type_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
66398,tt0067758,movie,"Simón, contamos contigo","Simón, contamos contigo",0,2015,\N,81,"Comedy,Drama"
67657,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama
98023,tt0100275,movie,The Wandering Soap Opera,La Telenovela Errante,0,2017,\N,80,"Comedy,Drama,Fantasy"
105661,tt0108116,movie,Shepherd on the Rock,Shepherd on the Rock,0,2014,\N,90,Drama
108890,tt0111414,movie,A Thin Life,A Thin Life,0,2018,\N,75,Comedy

In [18]:
# Gets list titles with all criteria

In [19]:
df_final = years_runtime_type_df

In [20]:
df_final = df_final['primaryTitle']

In [21]:
df_final

66398                                 Simón, contamos contigo
67657                              The Other Side of the Wind
98023                                The Wandering Soap Opera
105661                                   Shepherd on the Rock
108890                                            A Thin Life
                                  ...
11227817                         The Mystery of a Buryat Lama
11227831                                           Drømmeland
11227842    Illenau - die Geschichte einer ehemaligen Heil...
11228012                                  Kuambil Lagi Hatiku
11228102                                               6 Gunn
Name: primaryTitle, Length: 115433, dtype: object

In [22]:
len(df_final)

115433